body,
main,
div,
h1,
h2,
h4,
p {
  padding: 0;
  margin: 0;
}

@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@600&family=Roboto+Slab:wght@400;600&display=swap");

.willows {
  font-size: 32px;
  font-weight: 600;
  font-family: "Quicksand", sans-serif;
}

h1 {
  font-family: "Roboto Slab", serif;
  font-size: 32px;
  font-weight: 400;
  text-align: center;
  color: white;
  margin: 0;
}

.wrapper {
  padding-top: 40px;
}

h2 {
  font-family: "Roboto Slab", serif;
  font-size: 24px;
  font-weight: 600;
  text-align: left;
  color: black;
}

h4 {
  font-family: "Roboto Slab", serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 2rem;
}

ul {
  padding-left: 16px;
}

ul,
li,
p {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  line-height: 1.8;
}

.eyecarelist {
  line-height: 2.4;
}

li {
  margin-bottom: 1.5rem;
}

.header {
  padding-left: 24px;
  padding-right: 24px;
  position: sticky;
  top: 0;
  z-index: 100;
  padding-top: 32px;
  padding-bottom: 24px;
  width: 100vw;
  background-color: white;
  box-sizing: border-box;
}

/* transitions*/
.new-padding {
  padding-top: 8px;
  padding-bottom: 8px;
}

.scaledown {
  transform: scale(0.7);
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.slideout {
  transform: translateX(-40px);
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.opacity_title {
  transition: blink 0.8s ease-in-out;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.logo {
  width: 100px;
  height: 100px;
  position: relative;
  display: flex;
  margin: 16px;
}

.logo svg {
  position: absolute;
}

.glasses {
  position: absolute;
  top: 30px;
  width: 100px;
}

.glass1,
.glass2,
.glass3 {
  position: absolute;
  width: 100px;
  opacity: 0;
}

.show {
  opacity: 1;
  -webkit-transition: opacity 0.1s ease-in;
  -moz-transition: opacity 0.1s ease-in;
  -o-transition: opacity 0.1s ease-in;
  transition: opacity 0.1s ease-in;
}

.hide {
  opacity: 0;
}

.hours {
  line-height: 3rem;
}

/*splide*/
.splide_slide {
  z-index: -1;
  margin-right: 24px;
}

/* ㅌㅏ르트랑 테스트*/
.image1 {
  width: 100%;
  height: 600px;
  background-size: contain;
  background-image: url("img/1@1x.jpg");
  background-repeat: no-repeat;
}

.i {
  font-style: italic;
  font-size: 14px;
}

@media (max-width: 480px) {
  .slideout {
    transform: translateX(-16px);
  }
  .willows {
    font-size: 24px;
  }
  .logo {
    margin-left: 0;
    margin-right: 0;
  }
}
