body, main, div, h1, h2, h4, p{
    padding:0;
    margin:0;
}

@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400,600&display=swap');

h1 {
    font-family: 'Roboto Slab', serif;
    font-size:32px;
    font-weight:400;
    text-align: center;
    color: white;
    margin:0;
}


.wrapper {
    padding-top: 40px;
}

h2 {
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
    font-weight:600;
    text-align: left;
    color: black;
    margin-bottom: 1.7rem;
}

h4{
    font-family: 'Roboto Slab', serif;
    font-size: 16px;
    font-weight:400;
    text-align:center;
    color:blue;
    line-height:2rem;
}

ul,li,p {
    font-family: 'Roboto', sans-serif;
    font-size:18px;
    line-height: 1.8;
}

li {
    margin-bottom: 1.5rem;
}

header {
    position: sticky;
    top:0;
    height: 240px;
    width:100vw;
    background-color:#2D42FF;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.logo{
    width: 100px;
    height:100px;
    margin: 16px auto 16px auto;
    position: relative;
}

.logo svg {
    position: absolute;
}

.glasses{
    position: absolute;
    top:30px;
    width:100px;
}

.glass1, .glass2, .glass3 {
    position: absolute;
    width:100px;
    opacity:0;
}

.show {
  opacity: 1;
}

.hide {
    opacity:0;
}



#map {
    width:100%;
    height:50vh;
}

#hours {
    background-color: #F6F6F6;
}

.hours {
    line-height: 3rem;
}

/* swiper */ 
.swiper-container {
    z-index: auto;
}

.swiper-wrapper {
    width:100%;
    height:100%;
    z-index: -2;
}

.swiper-slide {
    height:400px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 4px;
}



#slide1{
    background-image: url(img/1.png);
}

#slide2{
    background-image: url(img/2.png);
}


#slide3{
    background-image: url(img/3.png);
}
