body, main, div {
    padding:0;
    margin:0;
}

@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400&display=swap');

h1 {
    font-family: 'Roboto Slab', serif;
    font-weight:400;
    text-align: center;
    color: white;
}

h2 {
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
    font-weight:600;
    text-align: left;
    color: black;
    margin-bottom: 1.7rem;
}

h4{
    font-family: 'Roboto Slab', serif;
    font-size: 18px;
    font-weight:400;
    text-align:center;
    color:blue;
    line-height:1.7rem;
}

ul,li,p {
    font-family: 'Roboto', sans-serif;
    font-size:18px;
    line-height: 1.8;
}

li {
    margin-bottom: 1.5rem;
}

header {
    position: sticky;
    top:0;
    height: 280px;
    width:100vw;
    background-color:#2D42FF;
    box-sizing: border-box;
    display:flex;
    flex-direction:column;
    justify-content:center;
}

section {
    width:100vw;
    padding: 40px 40px 60px 40px;
    box-sizing: border-box;
}

.logo{
    width: 100px;
    height:100px;
    margin-bottom: 30px;
    position: relative;
    margin-left:auto;
    margin-right:auto;
}

.logo svg {
    position: absolute;
    top:0;
}

.glasses{
    position: absolute;
    top:30px;
    width:100px;
}

.glasses img {
    position: absolute;
    width:100px;
    opacity:0;
}



.in-viewport {
  opacity:  1;
}


.profile_photo{
    width:100px;
    height:100px;
}

#map {
    width:100%;
    height:50vh;
}